<p class="mb-3">Ask your coach anything:</p>
<form action="/answer" data-turbo="false">
	<div class="mb-3">
		<input type="text" name="question" placeholder="Type your question..." required>
		<input type="submit" value="Ask!" class="btn btn-primary">
	</div>
</form>
